$fTrebuchet: "Trebuchet MS";

/*  Footer
------------------------*/
#footer {
    border-top: 7px solid #cccccc;
    background: #999999;
    color: #ffffff;
    padding: 25px 0;

    .inside_footer {
        margin: auto;
        max-width: 1100px;
    }
}

.block--copy {
    margin-top: 20px;
    font-family: $fTrebuchet;

    p {
        margin: 0;
    }
}

.form-subscribe {
    margin-top: 20px;

    .form--label {
        font-size: 22px;
        font-weight: 400;
        font-family: $fTrebuchet;
    }
    .form--item {
        width: 100%;
        border: 2px solid #cccccc;
        text-align: center;
        font-size: 18px;
        color: #b2b2b2;
        padding: 6px 15px;
    }
}

.second_footer {
    text-align: center;
}
.third_footer {
    text-align: right;
}
.bottom_menu {
    list-style: none;
    padding: 0;
    text-align: left;
    display: inline-block;
    margin-top: 20px;

    a {
        color: #ffffff;
        font-size: 20px;
        font-family: $fTrebuchet;
    }
}
