$fTrebuchet: "Trebuchet MS";

/*  pre-header
------------------------*/
.pre-header {
    background: #e5e5e5;
    padding-top: 20px;

    .content {
        position: relative;
    }
    .block--lang {
        position: absolute;
        bottom: 0;
        right: -260px;
    }

    @media all and (max-width: 1599px) {
        .block--lang {
            position: static;
            float: right;
        }
    }
}

.block--dop-links {
    float: right;
}

.dop-links {
    li {
        a {
            color: #000;
            font-family: $fTrebuchet;
            padding: 4px 15px;
        }
    }
}

.lang-menu {
    width: 210px;

    li.menu--item {
        margin: 0;
        float: left;

        a,
        span {
            width: 70px;
            display: inline-block;
            text-transform: uppercase;
            padding: 4px;
            text-align: center;
            font-weight: 600;
            font-size: 15px;
        }
        a {
            color: #767676;
        }
        span {
            color: #039b91;
            background: #fff;
        }
    }
}

/*  header
------------------------*/
.header {
    background: #fff;
    .content {
        position: relative;
    }

    .block--logo {
        position: absolute;
        top: 18px;
        right: 100%;
        padding: 0 15px;
        width: 324px;
    }
    .block--main-menu {
        padding: 0 15px;
    }
}

ul.main-menu {
    li {
        margin: 0 20px;

        a {
            width: 265px;
            color: #6a6f74;
            font-weight: 600;
            font-size: 26px;
            line-height: 1.2;
            padding: 10px 15px 20px;
            text-transform: uppercase;
            position: relative;

            small {
                font-size: 11px;
                width: 100%;
                display: inline-block;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 10px;

                background: rgba(0, 173, 150, 1);
                background: -moz-linear-gradient(left, rgba(0, 173, 150, 1) 0%, rgba(0, 173, 147, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 173, 150, 1)), color-stop(100%, rgba(0, 173, 147, 1)));
                background: -webkit-linear-gradient(left, rgba(0, 173, 150, 1) 0%, rgba(0, 173, 147, 1) 100%);
                background: -o-linear-gradient(left, rgba(0, 173, 150, 1) 0%, rgba(0, 173, 147, 1) 100%);
                background: -ms-linear-gradient(left, rgba(0, 173, 150, 1) 0%, rgba(0, 173, 147, 1) 100%);
                background: linear-gradient(to right, rgba(0, 173, 150, 1) 0%, rgba(0, 173, 147, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ad96', endColorstr='#00ad93', GradientType=1 );
            }
        }
        &:nth-child(even) {
            a::before {
                background: rgba(229, 149, 38, 1);
                background: -moz-linear-gradient(left, rgba(229, 149, 38, 1) 0%, rgba(229, 175, 38, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(229, 149, 38, 1)), color-stop(100%, rgba(229, 175, 38, 1)));
                background: -webkit-linear-gradient(left, rgba(229, 149, 38, 1) 0%, rgba(229, 175, 38, 1) 100%);
                background: -o-linear-gradient(left, rgba(229, 149, 38, 1) 0%, rgba(229, 175, 38, 1) 100%);
                background: -ms-linear-gradient(left, rgba(229, 149, 38, 1) 0%, rgba(229, 175, 38, 1) 100%);
                background: linear-gradient(to right, rgba(229, 149, 38, 1) 0%, rgba(229, 175, 38, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59526', endColorstr='#e5af26', GradientType=1 );
            }
        }
        &.active {
            a {
                color: #fff;

                &::before {
                    height: 100%;
                }
            }
        }
    }
}

.header {
    @media all and (max-width: 1749px) {
        .block--logo {
            position: initial;
        }
        .block--main-menu {
            width: auto;
        }
    }
}

.pre-header,
.header {
    .container-fluid {
        max-width: 1100px;
    }
}
