@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=cyrillic");

@font-face {
    font-family: "Trebuchet MS";
    src: url("/fonts/Trebuchet/Trebuchet-BoldItalic.eot");
    src: local("Trebuchet MS Bold Italic"), local("Trebuchet-BoldItalic"), url("/fonts/Trebuchet/Trebuchet-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Trebuchet/Trebuchet-BoldItalic.woff") format("woff"), url("/fonts/Trebuchet/Trebuchet-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Trebuchet MS";
    src: url("/fonts/TrebuchetMS/TrebuchetMS-Bold.eot");
    src: local("Trebuchet MS Bold"), local("TrebuchetMS-Bold"), url("/fonts/TrebuchetMS/TrebuchetMS-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/TrebuchetMS/TrebuchetMS-Bold.woff") format("woff"), url("/fonts/TrebuchetMS/TrebuchetMS-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Trebuchet MS";
    src: url("/fonts/TrebuchetMS/TrebuchetMS-Italic.eot");
    src: local("Trebuchet MS Italic"), local("TrebuchetMS-Italic"), url("/fonts/TrebuchetMS/TrebuchetMS-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/TrebuchetMS/TrebuchetMS-Italic.woff") format("woff"), url("/fonts/TrebuchetMS/TrebuchetMS-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Trebuchet MS";
    src: url("/fonts/TrebuchetMS/TrebuchetMS.eot");
    src: local("Trebuchet MS"), local("TrebuchetMS"), url("/fonts/TrebuchetMS/TrebuchetMS.eot?#iefix") format("embedded-opentype"), url("/fonts/TrebuchetMS/TrebuchetMS.woff") format("woff"), url("/fonts/TrebuchetMS/TrebuchetMS.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("/fonts/Verdana/Verdana-BoldItalic.eot");
    src: local("Verdana Bold Italic"), local("Verdana-BoldItalic"), url("/fonts/Verdana/Verdana-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Verdana/Verdana-BoldItalic.woff") format("woff"), url("/fonts/Verdana/Verdana-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Verdana";
    src: url("/fonts/Verdana/Verdana.eot");
    src: local("Verdana"), url("/fonts/Verdana/Verdana.eot?#iefix") format("embedded-opentype"), url("/fonts/Verdana/Verdana.woff") format("woff"), url("/fonts/Verdana/Verdana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Verdana";
    src: url("/fonts/Verdana/Verdana-Bold.eot");
    src: local("Verdana Bold"), local("Verdana-Bold"), url("/fonts/Verdana/Verdana-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Verdana/Verdana-Bold.woff") format("woff"), url("/fonts/Verdana/Verdana-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Verdana";
    src: url("/fonts/Verdana/Verdana-Italic.eot");
    src: local("Verdana Italic"), local("Verdana-Italic"), url("/fonts/Verdana/Verdana-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/Verdana/Verdana-Italic.woff") format("woff"), url("/fonts/Verdana/Verdana-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

$fVerdana: "Verdana", "Geneva";
$fTrebuchet: "Trebuchet MS";
$fOpenSans: "Open Sans", sans-serif;

body {
    font-family: $fVerdana, $fOpenSans;
    font-size: 16px;
}
.wrap {
    overflow: hidden;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;

    .slide {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;

        &:first-child {
            position: relative;
            display: block;
            float: left;
        }
    }

    img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }
}

.container-fluid {
    max-width: 1100px;
}

h2 {
    font-size: 34px;
    font-weight: 600;
    margin: 50px 0;
    text-align: center;
    text-transform: uppercase;
}

/*  block--rotator
------------------------*/
.block--rotator {
    position: relative;

    .block--content {
        position: relative;
        z-index: 1;
        padding-top: 40px;
    }
}
.view--rotator {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .slide {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.block--text-main {
    font-family: $fOpenSans;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);

    h1 {
        font-size: 81px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1;
        margin: 15px 0px;

        small {
            color: #fff;
            font-size: 45%;
            width: 100%;
            display: inline-block;
            font-weight: 800;
        }
    }
    .text-main--info {
        font-size: 22px;
        font-weight: 600;
    }
}

.block--main-search {
    margin: 100px 0 80px;
}

.form--main-search {
    position: relative;

    .input--field {
        font-size: 26px;
        font-family: $fTrebuchet;
        font-style: italic;
        color: #999999;
        width: 100%;
        padding: 20px;
        border: 3px solid #cbcbcb;
        border-radius: 12px;
        box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.4);
        outline: none;
    }
    .form--submit {
        position: absolute;
        top: 9px;
        right: 10px;
        border: none;
        padding: 10px 15px 4px;
        font-size: 32px;
        color: #fff;
        border-radius: 8px;
        width: 100px;
        box-shadow: 0 6px #197350;
        outline: none;

        background: rgba(0, 173, 147, 1);
        background: -moz-linear-gradient(left, rgba(0, 173, 147, 1) 0%, rgba(0, 173, 89, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 173, 147, 1)), color-stop(100%, rgba(0, 173, 89, 1)));
        background: -webkit-linear-gradient(left, rgba(0, 173, 147, 1) 0%, rgba(0, 173, 89, 1) 100%);
        background: -o-linear-gradient(left, rgba(0, 173, 147, 1) 0%, rgba(0, 173, 89, 1) 100%);
        background: -ms-linear-gradient(left, rgba(0, 173, 147, 1) 0%, rgba(0, 173, 89, 1) 100%);
        background: linear-gradient(to right, rgba(0, 173, 147, 1) 0%, rgba(0, 173, 89, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ad93', endColorstr='#00ad59', GradientType=1 );
    }
}

.block--main-search {
    .hash-tag {
        background: rgba(0, 0, 0, 0.5);
        padding: 10px 25px;
        color: #fff;
        margin: 40px auto 80px;
        max-width: 900px;
        border-radius: 25px;
        position: relative;
    }
    .hash-tag--label {
        float: left;
        margin-right: 15px;
    }
    .hash-tag--content {
        overflow: hidden;
        padding-right: 40px;
    }
    .hash-tag--links {
        a {
            color: #06ffef;
            margin: 0 5px;
        }
    }
    .hash-tag--update {
        position: absolute;
        right: 16px;
        top: 7px;
        background: transparent;
        border: none;
        color: #fff;
        font-size: 20px;
    }
}

.block--lnks-article {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    color: #fff;
    font-size: 18px;
    text-align: center;

    a {
        color: #fff;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
    p {
        margin: 0;
    }
}

/*  view--entity
------------------------*/
.view--entity {
    padding: 0 15px 45px;

    .view--row {
        margin: 3% 0;
    }
    .view--row {
        transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
        box-shadow: 0px 0px 15px -31px rgba(0, 0, 0, 0.64);

        &:hover {
            transform: translate(0px, -15px);
            box-shadow: 0px 28px 23px -24px rgba(0, 0, 0, 0.64);
        }
    }
    .row--content {
        border-top: 7px solid #44bbb4;
        position: relative;
    }
    .content--wrap {
        border: 4px solid #cacaca;
        border-top: none;
        transition: border-color 0.6s ease-in-out;
    }
    .view--row:hover .content--wrap {
        border-color: #44bbb4;
    }
    .entity--type {
        position: absolute;
        z-index: 1;
        top: -22px;
        left: 0;
        right: 0;
        text-align: center;

        span {
            background: url("/images/sprite.png") #44bbb4 no-repeat 9px -2244px;
            width: 38px;
            height: 38px;
            display: inline-block;
            border-radius: 100%;
            border: 2px solid #ffffff;

            &.type-1 {
                background-position: 9px -2244px;
            }
            &.type-2 {
                background-position: -48px -2243px;
            }
            &.type-3 {
                background-position: 6px -2295px;
            }
            &.type-4 {
                background-position: -50px -2293px;
            }
        }
    }
    .entity--razdel {
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        span {
            color: #15a986;
            font-size: 13px;
            display: inline-block;
            padding: 6px 10px;
        }
    }

    .entity--img {
        overflow: hidden;

        img {
            transition: all 0.6s ease-in-out;
            width: 100%;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .entity--title {
        text-align: center;
        font-size: 17px;
        height: 95px;
        overflow: hidden;

        a {
            color: #000000;
            line-height: 1.2;
            display: inline-block;
            width: 100%;
            padding: 15px;
            word-wrap: break-word;
        }
    }

    .entity--see-all a {
        color: #353535;
        font-size: 20px;
        border-bottom: 1px solid #353535;
        padding: 3px 6px;
        text-decoration: none;
        margin-top: 25px;
        display: inline-block;
    }
    .entity--text-footer {
        color: #676767;
        font-size: 20px;
    }
}

/*  block--see-chrestom
------------------------*/
.section--chrestom {
    background: url("/images/enciclopedya_front_footer_bg.png"), #fac87a;
    padding: 50px 0;
    border-top: 4px solid #debd8a;
    border-top: 8px solid #debd8a;
}
.block--see-chrestom {
    font-family: $fOpenSans;

    .chrestom--text {
        border: 5px solid #fff;
        background: #fac87a;
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
    }
    .chrestom--title {
        font-size: 80px;
        font-weight: 800;
        color: #fff;
        line-height: 1.1;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        margin-top: -15px;

        small {
            font-size: 45%;
            width: 100%;
            display: inline-block;
        }
    }
    .chrestom--descr {
        color: #cb3f3f;
        font-size: 22px;
        font-weight: 600;
        max-width: 700px;
        margin: 10px auto 20px;
    }

    .chrestom--classes {
        max-width: 900px;
        margin: 25px auto 40px;
    }
    .classes--cont {
        background: #fff;
        position: relative;
        padding: 10px 10px 10px 55px;
    }
    .classes--num {
        background: #ea851a;
        color: #fff;
        font-size: 32px;
        font-weight: 600;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 41px;
        text-align: center;
    }
    .classes--title {
        font-size: 22px;
        font-weight: 600;
    }
    .chrestom--enter {
        display: inline-block;
        color: #cb3f3f;
        font-size: 24px;
        font-weight: 600;
        background: #fff7cf;
        border: 3px solid #fff;
        border-radius: 5px;
        text-align: center;
        width: 240px;
        padding: 6px 10px;
        font-family: $fTrebuchet;
        box-shadow: 4px 4px #ba8128;
        text-decoration: none;
    }
}

/*  view--partners
------------------------*/
.view--partners {
    margin-bottom: 60px;

    .view--title {
        padding: 6px 20px;
        border-bottom: 4px solid #49c8b2;
        display: inline-block;
        font-weight: 400;
    }
    .partnesr--list {
        color: #676767;
        font-size: 18px;

        li {
            margin: 5px 0;
        }
    }
}

/*  About company
------------------------*/
.about_company {
    padding: 25px 0 70px 0;
    background: #e5e5e5;
}
.view--about-company {
    max-width: 900px;
    margin: auto;

    h2 {
        text-align: center;
        margin: 30px 0;
        font-weight: 400;
    }
    .about-company--content {
        font-size: 23px;
        text-align: center;
        padding: 4% 10%;
        background: #fff2ad;
        border: 10px solid #49c8b2;
    }
}

/*  view--about-company   */
.view--about-company {
    @media all and (max-width: 1199px) {
        .about-company--content {
            font-size: 21px;
            padding: 3% 6%;
        }
    }
    @media all and (max-width: 655px) {
        .about-company--content {
            font-size: 19px;
        }
    }
    @media all and (max-width: 420px) {
        .about-company--content {
            font-size: 18px;
        }
    }
}

/*  Block subscribe
------------------------*/
.block_subscribe {
    text-align: center;
    padding: 40px 0;
}
.form_subscribe {
    display: inline-block;
    position: relative;
    padding: 30px 0;

    & > div {
        display: table;
    }
    .form-item,
    .form-actions {
        display: table-cell;
        vertical-align: middle;
    }
    .webform-logo {
        padding: 0 15px;
        width: 165px;
    }
    .form-actions {
        padding-right: 15px;
    }
    input {
        padding: 5px 5%;
        font-size: 28px;
        text-align: right;
        width: 100%;
        border: 3px solid #cccccc;
    }
    button {
        background: url("/images/sprite.png") transparent no-repeat 0px -900px;
        padding: 14px 20px 14px 65px;
        margin-left: 10px;
        font-size: 18px;
    }
}

@media all and (max-width: 700px) {
    .form_subscribe input {
        font-size: 23px;
    }
    .form_subscribe .webform-logo {
        width: 145px;
    }
    .form_subscribe button {
        font-size: 17px;
    }
}
@media all and (max-width: 650px) {
    .form_subscribe .webform-logo {
        width: 125px;
    }
    .form_subscribe button {
        background: #ffab53;
        border-radius: 5px;
        filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=4, color=#bf8446);
        box-shadow: 0px 4px 0px 0px #bf8446;
        outline: none;
        padding: 9px 20px;
        color: #ffffff;
        margin-top: -4px;
    }
}
@media all and (max-width: 560px) {
    .block_subscribe {
        padding: 0;
    }
    .form_subscribe > div {
        display: block;
        max-width: 400px;
        margin: 0 auto;
    }
    .form_subscribe .form-item,
    .form_subscribe .form-actions {
        display: inline-block;
        width: 100%;
        padding: 10px 15px;
    }
    .form_subscribe .webform-logo img {
        margin: 0 auto;
        max-width: 110px;
    }
}

/*  Footer
------------------------*/
.height100 {
    height: 100%;
}

.not-front {
    .wrap {
        height: 100%;
    }
    .content_body {
        background: #ecece6;
        min-height: 100%;
        padding-bottom: 139px;
        overflow: hidden;
    }
    #footer {
        margin-top: -139px;
    }
}

@media all and (max-width: 991px) {
    .footer_content > div {
        display: block;
        max-width: 600px;
        margin: 0 auto;
    }
    .footer_block {
        padding: 10px 15px;
    }
    .second_footer {
        display: block;
        float: left;
    }
    #footer .logo {
        margin: 0;
    }
    .bottom_menu {
        margin: 0;
    }
    .not-front .content_body {
        padding-bottom: 227px;
    }
    .not-front #footer {
        margin-top: -227px;
    }
}
@media all and (max-width: 550px) {
    .not-front .content_body {
        padding-bottom: 0;
    }
    .not-front #footer {
        margin-top: 0;
    }
}
@media all and (max-width: 440px) {
    .footer_block {
        display: block;
        float: left;
        width: 100%;
    }
    #footer .logo img {
        margin: 0 auto;
        max-width: 205px;
    }
    .bottom_menu {
        text-align: center;
    }
}
