Options All -Indexes

php_value upload_max_filesize 150M
php_value post_max_size 150M
php_value memory_limit 250M

IndexIgnore */*

Options +FollowSymLinks
RewriteEngine on

Redirect 301 http://tatarile.tatar/ru/encyclopedia /ru/encyclopedia?category_id=2
Redirect 301 /encyclopedia /ru/encyclopedia?category_id=2
Redirect 301 http://tatarile.tatar/tt/encyclopedia /tt/encyclopedia?category_id=2
Redirect 301 http://tatarile.tatar/encyclopedia /ru/encyclopedia?category_id=2


RewriteRule ^sitemap.xml$ files/sitemap.xml$1 [L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

